$mainColor: #24298f;
$headSectionBg: #b5b5b5;
$borderColor: #666666;
$textColor: #7f7f7f;
$tableHead: #d3d3d3;
$rl: #0c61b9;
$ua: #dea523;
$fla: #3c763d;
$at: #b04403;
$ct: #900404;
$fdt: #286988;
$r: #ff0000;
$h: #6d4e07;
$rah: #666666;
$elr: #ee82ee;
