footer {
  flex-grow: 1;
}

.copyright {
  color: #909090;
  border-top: 2px solid #24298f;
  background-color: #fff;
  text-align: center;
  margin: 0 !important;
  padding-bottom: 1rem;
}

.copyright a {
  color: #4549a0 !important;
}
